/* important values */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  background-color: rgb(255, 255, 255);
  font-style: normal;
}

.container {
  max-width: 1440px; /* Сайт не будет шире 1440 */
  margin: 0 auto;    /* Центрируем контент */
  padding: 0 15px;   /* Чтобы текст не лип к краям на мобилках */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
  font: inherit;
}
::selection {
  background-color: #fff788;
}
/* ------------------------------------------------------------------------ */
