/* important values */
::selection {
  background-color: #fff788;
}
a,
button {
  cursor: pointer;
}
h2,
p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
/* ------------------------------------------------------------------------ */

/* header */
.header {
  display: grid;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 27px;
  grid-template-columns: 1fr min-content 1fr;
}
.header__logo {
  display: flex;
  justify-self: start;
  color: #000;
  padding-left: 52px;
  gap: 10px;
}

.header__menu-list {
  display: flex;
  justify-self: center;
  gap: 77px;
  list-style: none;
  color: #000;
}
.header__actions-list {
  display: flex;
  justify-self: end;
  list-style: none;
  padding-right: 100px;
  padding-top: 5px;
  gap: 45px;
}
.header__logo-image {
  width: 50px;
  height: 32px;
}
.header__actions-icon {
  width: 28px;
  height: 28px;
}
.header__logo-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.header__menu-link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
/* ------------------------------------------------------------------------ */
/* banner */
.banner {
  display: flex;
  background-size: cover;
  justify-content: flex-end;
  align-items: center;
  background-repeat: no-repeat;
  background-image: url(../images/cover_chair.jpg);
  padding: 105px 55px;
}
.banner__content {
  width: 643px;
  margin-top: 55px;
  height: 443px;
  padding: 62px 43px 39px 37px;
  background-color: #fff3e3;
  border-radius: 10px;
}

.banner__pre-title {
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 600;
}

.banner__title {
  font-size: 52px;
  line-height: 65px;
  font-weight: 700;
  color: #b88e2f;
}
.banner__description {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 13px;
}
.banner__btn {
  width: 222px;
  height: 74px;
  background-color: #b88e2f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border: none;
  margin-top: 50px;
}
/* ------------------------------------------------------------------------ */
/* assortment */

/* ------------------------------------------------------------------------ */
/* products */

/* ------------------------------------------------------------------------ */
/* inspiration */

/* ------------------------------------------------------------------------ */
/* furniture */

/* ------------------------------------------------------------------------ */
/* footer */

/* ------------------------------------------------------------------------ */
