/* header */
.header {
  display: grid;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 27px;
  grid-template-columns: 1fr min-content 1fr;
}
.header__logo {
  display: flex;
  justify-self: start;
  color: #000;
  padding-left: 52px;
  gap: 10px;
}

.header__menu-list {
  display: flex;
  justify-self: center;
  gap: 77px;
  list-style: none;
  color: #000;
}
.header__actions-list {
  display: flex;
  justify-self: end;
  list-style: none;
  padding-right: 100px;
  padding-top: 5px;
  gap: 45px;
}
.header__logo-image {
  width: 50px;
  height: 32px;
}
.header__actions-icon {
  width: 28px;
  height: 28px;
}
.header__logo-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700; /* Это Bold */
}
.header__menu-link {
  font-family: "Poppins", sans-serif;
  font-weight: 500; /* Это Medium */
}
/* ------------------------------------------------------------------------ */
/* banner */
.banner {
  display: flex;
  background-size: cover;
  justify-content: flex-end;
  align-items: center;
  background-repeat: no-repeat;
  background-image: url(../images/cover_chair.jpg);
  padding: 105px 55px;
}
.banner__content {
  width: 643px;
  margin-top: 55px;
  height: 443px;
  padding: 62px 43px 39px 37px;
  background-color: #fff3e3;
  border-radius: 10px;
}

.banner__pre-title {
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 600; /* Это SemiBold */
}

.banner__title {
  font-size: 52px;
  line-height: 65px;
  font-weight: 700; /* Это Bold */
  color: #b88e2f;
}
.banner__description {
  font-size: 18px;
  font-weight: 500; /* Это Medium */
  line-height: 24px;
  margin-top: 13px;
}
.banner__btn {
  width: 222px;
  height: 74px;
  background-color: #b88e2f;
  font-size: 16px;
  font-weight: 700; /* Это Bold */
  text-transform: uppercase;
  color: #fff;
  border: none;
  margin-top: 50px;
}
/* ------------------------------------------------------------------------ */
/* assortment */
.assortment {
  padding: 56px 126px 56px 131px;
}
.assortment__text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.assortment__title {
  font-size: 32px;
  margin-right: 60px;
  margin-top: 8px;
  font-weight: 700; /* Это Bold */
}
.assortment__description {
  font-size: 20px;
  margin-left: 10px;
  font-weight: 400; /* Это Regular */
  color: rgba(102, 102, 102, 1);
}
.assortment__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  list-style-type: none;
  margin-top: 63px;
}
.assortment__picture {
  width: 381px;
  height: 480px;
}
.assortment__name {
  font-size: 24px;
  font-weight: 600; /* Это SemiBold */
  color: rgba(51, 51, 51, 1);
  text-align: center;
  margin-top: 23px;
}
/* ------------------------------------------------------------------------ */
/* products */
.products {
  padding: 0px 102px 30px;
}
/* .products__text-block {
  
} */
.products__title {
  font-family: "Poppins";
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700; /* Это Bold */
  text-align: center;
}

.products__assortment {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  gap: 32px;
  margin: 30px 0px;
}

.products__picture {
  width: 285px;
  height: 301px;
}

.products__card {
  max-width: 285px;
  height: 450px;
  gap: 32px;
  background-color: #f4f5f7;
}

.products__name {
  margin-left: 16px;
  font-family: "Poppins";
  margin-top: 10px;
  font-size: 24px;
  color: rgba(51, 51, 51, 1);
  font-weight: 600; /* Это SemiBold */
}

.products__description {
  font-family: "Poppins";
  margin-left: 16px;

  font-size: 16px;
  font-weight: 500; /* Это Medium */
  font-size: 16px;
  line-height: 1.5;
  color: rgba(137, 137, 137, 1);
}
.products__card {
  z-index: 0;
}
.product-item__price-box {
  margin-top: 10px;
}

.product-item__price {
  margin-left: 16px;
  font-family: "Poppins";
  line-height: 1.5;
  font-size: 20px;
  font-weight: 600; /* Это SemiBold */
}

.products__discount {
  margin-left: 16px;
  margin-top: 30px;
  font-family: "Poppins";
  font-size: 16px;
  line-height: 1.5;
  text-decoration: line-through;
  font-weight: 400; /* Это Regular */
  color: rgba(137, 137, 137, 1);
}

.products__btn {
  font-family: "Poppins";
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600; /* Это SemiBold */
  background-color: #fff;
  border: 1px solid #b88e2f;
  outline: none;
  color: #b88e2f;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 245px;
  height: 48px;
  margin: -5px 592px 69px 598px;
}

.overlay {
  position: relative;
}
.overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  transition: 0.2s ease;
}

.products__actions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Центрируем по середине */
  z-index: 2;
  opacity: 0;
  transition: 0.3s ease;
}
.products__item:hover::before {
  background-color: rgba(58, 58, 58, 0.7);
  cursor: pointer;
}
.products__item:hover .products__actions {
  opacity: 1;
}
.btn__actions {
  font-family: "Poppins";
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600; /* Это SemiBold */
  background-color: #fff;
  border: 1px solid #b88e2f;
  outline: none;
  color: #b88e2f;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 202px;
  height: 48px;
}
.actions__btn {
  font-family: "Poppins";
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600; /* Это SemiBold */
  color: #fff;
}
.actions__list {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  gap: 24px;
}

/* ------------------------------------------------------------------------ */
/* inspiration */

/* ------------------------------------------------------------------------ */
/* furniture */

/* ------------------------------------------------------------------------ */
/* footer */

/* ------------------------------------------------------------------------ */
